/* ---------------- CSS for HTML Tags ---------------- */
* {
    margin: 0;
    padding: 0;
    --corner-radius-card: 12px;
    --bullet: "> ";
}

/* Start of the html correction for the navbar:

This code is to let the full section be seen when the anchor on the navbar is clicked
    if this code is removed, the navbar will cover some of the section (specifically the top part)*/

html {
    scroll-padding-top: 3.5rem;
}

/* End of the html correction for the navbar */

body {
    background-color: #98f08c;
}




/* ---------------- CSS for classes ---------------- */

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-contents {
    height: 100%;
}

.intro-picture {
    height: 35vh;
    border-radius: 100%;
}

.lang-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.lang-grid {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    height: 100%;
    grid-gap: 3px;
}

.lang {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border: solid 1px #000;
    border-radius: 5px;
    transition: all 0.1s ease;
    transform-origin: center center;
}

.lang:hover {
    transform: scale(1.2);
}

.lang-hover {
    background-color: #0de82e;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    transform-origin: center center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    font-size: 2rem;
    color: aliceblue;
}

.navbar {
    background-color: aqua;
}

.project-card {
    width: 350px;
    height: 80%;
    display: grid;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: var(--corner-radius-card);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.project-container {
    display: grid;
    justify-items: center;
    height: 80vh;
}

.project-desc {
    text-align: center;
    margin: 0 2px;
    margin: 0 10% 0 10%;
}

.project-image {
    display: flex;
    justify-content: center;
    margin: 10% 10% 0 10%;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10% 0 10%;
}

.project-button {
    border-radius: 0px 0px var(--corner-radius-card) var(--corner-radius-card);
    display: flex;
}

.proj-btn-span {
    width: 100%;
    height: 60%;
    display: inline-block;
    align-self: flex-end;
}

.read-more-btn {
    height: 100%;
    width: 100%;
    border-radius: 0px 0px var(--corner-radius-card) var(--corner-radius-card);
}

.section {
    height: 100vh;
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3vh;
}

.short-intro {
    font-size: 2rem;
    margin-left: 15vw;
    width: 25vw;
}

/* ---------------- Test Class to know where the component is ---------------- */
/* NOTE: Just add a "test" to the class of an element to know where it is */

.test {
    background-color: blueviolet;
}