/* ---------------- CSS for HTML Tags ---------------- */
* {
    margin: 0;
    padding: 0;
}

/* Start of the html correction for the navbar:

This code is to let the full section be seen when the anchor on the navbar is clicked
    if this code is removed, the navbar will cover some of the section (specifically the top part)*/

html {
    scroll-padding-top: 3.5rem;
}

/* End of the html correction for the navbar */

body { 
    background-color: #98f08c;
}

section {
    height: 100vh;
}




/* ---------------- CSS for classes ---------------- */

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-contents {
    height: 100%;
}

.intro-picture {
    height: 35vh;
    border-radius: 100%;
}

.navbar {
    background-color: aqua;
}

.project-card {
    width: 20vw;
    height: 50vh;
    padding: 1% 2%;
    
}

.project-container {
    display: grid;
    justify-items: center;
}

.project-desc {
    text-align: center;
}

.project-image {
    display: flex;
    justify-content: center;
}

.project-title {
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-family:'Courier New', Courier, monospace;
}

.short-intro {
    font-size: 2rem;
    margin-left: 15vw;
    width: 25vw;
}
/* ---------------- Test Class to know where the component is ---------------- */
/* NOTE: Just add a "test" to the class of an element to know where it is */

.test {
    background-color: blueviolet;
}